<%
  match = line.match(/^(?<date>[0-9-]{10}) (?<time>[0-9:]{8})\t(?<prefix>[^\t]*)\t(?<text>.*)$/)
  if match
    anchor = "#{match[:date]}_#{match[:time]}"

    case match[:prefix]
    when '-->'
      style = 'join'
    when '<--'
      style = 'leave'
    when '--'
      style = 'misc'
    when '=!='
      style = 'error'
    when ' *'
      style = 'action'
    when ''
      style = 'no-prefix'
    else
      style = 'chat'
    end

    if even
      style << ' even'
    end

    text = match[:text].gsub /\s/, '&nbsp;'

%>
<tr class='<%= style %>'>
  <td class='date center'><a name='<%= anchor %>' href='#<%= anchor %>'><%= match[:date] %></a></td>
  <td class='time center'><a name='<%= anchor %>' href='#<%= anchor %>'><%= match[:time] %></a></td>
  <td class='irc prefix'><%= match[:prefix] %></td>
  <td class='irc text'><%= text %></td>
</tr>
<%
    else
p line
    end
  
%>

