<h1><%= HTMLEntities.new.encode params[:network] %></h1>
<p><a class='button orange' href='/'>Back</a></p>
<table>
  <thead>
    <tr>
      <th>Buffer</th>
      <th>Last Updated</th>
      <th>Size (KiB)</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
<%
  path = File.expand_path $opts[:log_dir]

  buffers = {}

  Dir.new(path).sort.each do |file|
    my_path = "#{path}/#{file}"
    next unless File.file? my_path

    match = file.match $opts[:file_name_regex]

    next unless match and match[:network] == params[:network]

    updated = File.mtime my_path
    size    = File.size my_path

    buffers[match[:buffer]] = {:size => size, :last_updated => updated}
  end

  network = URI.encode params[:network]

  even = true

  buffers.each do |buffer, info|
  %>
  <tr class='<%= 'even' if even = !even%>'>
    <td><a class="index" href="/<%= network %>/<%= URI.encode buffer %>/"><%= buffer %></a></td>
    <td><%= info[:last_updated] %></a></td>
    <td><%= "%.2f" % [info[:size]/1024.0] %></a></td>
    <td class="view"><a class='button green' href="/<%= network %>/<%= URI.encode buffer %>/">View</a></td>
    </tr>
    <%
  end
%>
  </tbody>
</table>
